{
  "name": "@jitesoft/events",
  "version": "${version}",
  "description": "Simple event handler for Browser and Node.",
  "main": "dist/index.js",
  "repository": {
    "type": "git",
    "url": "git@gitlab.com:jitesoft/open-source/javascript/events.git"
  },
  "esnext": {
    "main": "src/index.js"
  },
  "keywords": [
    "events",
    "simple",
    "custom",
    "jitesoft"
  ],
  "author": "Johannes Tegnér <johannes@jitesoft.com>",
  "license": "MIT"
}
